{{!-- Character Customization Settings --}}
<div class='customization-application flex flex-col m-lr overflow-y-auto pr-sm text-left'>
	{{!-- Randomization Option --}}
	<div class="form-group flex flex-col items-start">
		<div class="flex items-center">
			<input type='checkbox' id="enableRandomize" name='enableRandomize' {{#if enableRandomize}}checked{{/if}} />
			<label for="enableRandomize" class="font-bold">{{localize 'hm.settings.randomize.name'}}</label>
		</div>
		<p class='hint'>{{localize 'hm.settings.randomize.hint'}}</p>
	</div>

	{{!-- Player Customization Option --}}
	<div class="form-group flex flex-col items-start">
		<div class="flex items-center">
			<input type='checkbox' id="enablePlayerCustomization" name='enablePlayerCustomization'
				{{#if enablePlayerCustomization}}checked{{/if}} />
			<label for="enablePlayerCustomization"
				class="font-bold">{{localize 'hm.settings.player-customization.name'}}</label>
		</div>
		<p class='hint'>{{localize 'hm.settings.player-customization.hint'}}</p>
	</div>

	{{!-- Token Customization Option --}}
	<div class="form-group flex flex-col items-start">
		<div class="flex items-center">
			<input type='checkbox' id="enableTokenCustomization" name='enableTokenCustomization'
				{{#if enableTokenCustomization}}checked{{/if}} />
			<label for="enableTokenCustomization"
				class="font-bold">{{localize 'hm.settings.token-customization.name'}}</label>
		</div>
		<p class='hint'>{{localize 'hm.settings.token-customization.hint'}}</p>
	</div>

	{{!-- Character Appearance Options Section --}}
	<div class="form-group flex flex-col items-start">
		<label class="font-bold">{{localize 'hm.settings.appearance-options.header'}}</label>

		{{!-- Alignments --}}
		<div class="form-group flex flex-col items-start">
			<label for="alignments" class="font-bold">{{localize 'hm.settings.alignments.name'}}</label>
			<div class="flex items-center">
				<input type='text' id="alignments" name='alignments' class="form-input" value='{{alignments}}' />
			</div>
			<p class='hint'>{{localize 'hm.settings.alignments.hint'}}</p>
		</div>

		{{!-- Deities --}}
		<div class="form-group flex flex-col items-start">
			<label for="deities" class="font-bold">{{localize 'hm.settings.deities.name'}}</label>
			<div class="flex items-center">
				<input type='text' id="deities" name='deities' class="form-input" value='{{deities}}' />
			</div>
			<p class='hint'>{{localize 'hm.settings.deities.hint'}}</p>
		</div>

		{{!-- Eye Colors --}}
		<div class="form-group flex flex-col items-start">
			<label for="eye-colors" class="font-bold">{{localize 'hm.settings.eye-colors.name'}}</label>
			<div class="flex items-center">
				<input type='text' id="eye-colors" name='eye-colors' class="form-input" value='{{eye-colors}}' />
			</div>
			<p class='hint'>{{localize 'hm.settings.eye-colors.hint'}}</p>
		</div>

		{{!-- Hair Colors --}}
		<div class="form-group flex flex-col items-start">
			<label for="hair-colors" class="font-bold">{{localize 'hm.settings.hair-colors.name'}}</label>
			<div class="flex items-center">
				<input type='text' id="hair-colors" name='hair-colors' class="form-input" value='{{hair-colors}}' />
			</div>
			<p class='hint'>{{localize 'hm.settings.hair-colors.hint'}}</p>
		</div>

		{{!-- Skin Tones --}}
		<div class="form-group flex flex-col items-start">
			<label for="skin-tones" class="font-bold">{{localize 'hm.settings.skin-tones.name'}}</label>
			<div class="flex items-center">
				<input type='text' id="skin-tones" name='skin-tones' class="form-input" value='{{skin-tones}}' />
			</div>
			<p class='hint'>{{localize 'hm.settings.skin-tones.hint'}}</p>
		</div>

		{{!-- Genders --}}
		<div class="form-group flex flex-col items-start">
			<label for="genders" class="font-bold">{{localize 'hm.settings.genders.name'}}</label>
			<div class="flex items-center">
				<input type='text' id="genders" name='genders' class="form-input" value='{{genders}}' />
			</div>
			<p class='hint'>{{localize 'hm.settings.genders.hint'}}</p>
		</div>
	</div>

	{{!-- Character Options Section --}}
	<div class="form-group flex flex-col items-start">
		<label class="font-bold">{{localize 'hm.settings.character-options.header'}}</label>

		{{!-- Art Picker Root --}}
		<div class="form-group flex flex-col items-start">
			<label for="artPickerRoot" class="font-bold">{{localize 'hm.settings.art-picker-root.name'}}</label>
			<div class="flex items-center">
				<input type='text' id="artPickerRoot" name='artPickerRoot' class="form-input" value='{{artPickerRoot}}'
					data-dtype="String" data-type="folder" />
				<button type="button" class="file-picker" data-action="selectArtPickerRoot" data-type="folder"
					data-target="artPickerRoot" title="Browse Folders">
					<i class="fas fa-file-import fa-fw"></i>
				</button>
			</div>
			<p class='hint'>{{localize 'hm.settings.art-picker-root.hint'}}</p>
		</div>
	</div>
</div>
