<form>
  <p>{{localize 'hm.settings.customcompendiums.description'}}</p>

  <div class='hm-compendiums-popup-section'>
    <p>{{localize 'hm.settings.customcompendiums.classes'}}</p>
    <button type='button' data-action='classes'>{{localize 'hm.settings.customcompendiums.manageclasses'}}</button>
  </div>

  <div class='hm-compendiums-popup-section'>
    <p>{{localize 'hm.settings.customcompendiums.races'}}</p>
    <button type='button' data-action='races'>{{localize 'hm.settings.customcompendiums.manageraces'}}</button>
  </div>

  <div class='hm-compendiums-popup-section'>
    <p>{{localize 'hm.settings.customcompendiums.backgrounds'}}</p>
    <button type='button' data-action='backgrounds'>{{localize
        'hm.settings.customcompendiums.managebackgrounds'
      }}</button>
  </div>
</form>