<form>
  <p>{{localize 'hm.settings.custom-compendiums.description'}}</p>

  <div class='hm-compendiums-popup-section'>
    <p id='class-label'>{{localize 'hm.settings.custom-compendiums.classes-label'}}</p>
    <button type='button' data-action='classes' aria-labelledby='class-label'
      aria-label='{{localize "hm.settings.custom-compendiums.manage-classes"}}' role='button'>
      {{localize 'hm.settings.custom-compendiums.manage-classes'}}
    </button>
  </div>

  <div class='hm-compendiums-popup-section'>
    <p id='race-label'>{{localize 'hm.settings.custom-compendiums.races-label'}}</p>
    <button type='button' data-action='races' aria-labelledby='race-label'
      aria-label='{{localize "hm.settings.custom-compendiums.manage-races"}}' role='button'>
      {{localize 'hm.settings.custom-compendiums.manage-races'}}
    </button>
  </div>

  <div class='hm-compendiums-popup-section'>
    <p id='background-label'>{{localize 'hm.settings.custom-compendiums.backgrounds-label'}}</p>
    <button type='button' data-action='backgrounds' aria-labelledby='background-label'
      aria-label='{{localize "hm.settings.custom-compendiums.manage-backgrounds"}}' role='button'>
      {{localize 'hm.settings.custom-compendiums.manage-backgrounds'}}
    </button>
  </div>

  <div class='hm-compendiums-popup-section'>
    <p id='item-label'>{{localize 'hm.settings.custom-compendiums.items-label'}}</p>
    <button type='button' data-action='items' aria-labelledby='item-label'
      aria-label='{{localize "hm.settings.custom-compendiums.manage-items"}}' role='button'>
      {{localize 'hm.settings.custom-compendiums.manage-items'}}
    </button>
  </div>
</form>