<div class='dice-rolling-application'>
  <div class='form-group'>
    <label>{{localize 'hm.settings.dice-rolling-method.name'}}</label>
    <div class='dice-method-options'>
      <label>
        <input type="checkbox" name="standardArray" {{#if allowedMethods.standardArray}}checked{{/if}}>
        {{localize 'hm.settings.dice-rolling-method.standard-array'}}
      </label>
      <label>
        <input type="checkbox" name="manual" {{#if allowedMethods.manual}}checked{{/if}}>
        {{localize 'hm.settings.dice-rolling-method.manual-formula'}}
      </label>
      <label>
        <input type="checkbox" name="pointBuy" {{#if allowedMethods.pointBuy}}checked{{/if}}>
        {{localize 'hm.settings.dice-rolling-method.point-buy'}}
      </label>
    </div>
    <p class='hint'>{{localize 'hm.settings.dice-rolling-method.hint'}}</p>
  </div>

  <div class='form-group'>
    <label>{{localize 'hm.settings.custom-standard-array.name'}}</label>
    <input type='text' name='customStandardArray' value='{{customStandardArray}}' />
    <p class='hint'>{{localize 'hm.settings.custom-standard-array.hint'}}</p>
  </div>

  <div class='form-group'>
    <label>{{localize 'hm.settings.custom-roll-formula.name'}}</label>
    <input type='text' name='customRollFormula' value='{{customRollFormula}}' />
    <p class='hint'>{{localize 'hm.settings.custom-roll-formula.hint'}}</p>
  </div>

  <hr />

  <div class='form-group'>
    <label>{{localize 'hm.settings.chained-rolls.name'}}</label>
    <input type='checkbox' name='chainedRolls' {{#if chainedRolls}}checked{{/if}} />
    <p class='hint'>{{localize 'hm.settings.chained-rolls.hint'}}</p>
  </div>

  <div class='form-group'>
  <label>{{localize 'hm.settings.roll-delay.name'}}</label>
  <div class="delay-control">
    <input type='range' name='rollDelay' value='{{rollDelay}}' min='100' max='2000' step='100' />
    <span class="delay-value">{{rollDelay}}ms</span>
  </div>
  <p class='hint'>{{localize 'hm.settings.roll-delay.hint'}}</p>
  </div>

</div>