{{!-- Navigation Tabs for Hero Mancer Wizard --}}
<nav class="hero-mancer-tabs tabs" role="tablist" aria-label="{{localize 'hm.app.tabs'}}">
  {{#each tabs as |tab|}}
    <a class="item {{tab.cssClass}}" data-action="tab" data-tab="{{tab.id}}" data-group="{{tab.group}}"
      data-tooltip="{{tab.label}}" id="tab-{{tab.id}}" aria-label="{{tab.label}}" role="tab"
      aria-controls="{{tab.id}}-panel" aria-selected="{{#if tab.cssClass}}true{{else}}false{{/if}}"
      tabindex="{{#if tab.cssClass}}0{{else}}-1{{/if}}">
      <i class="{{tab.icon}}" aria-hidden="true"></i>
      <span>{{tab.label}}</span>
    </a>
  {{/each}}
</nav>
