<footer>
  <div class='hm-app-footer-actions'>
    <button type='submit' class='hm-app-footer-submit' data-tooltip='{{localize "hm.app.submit-description"}}'
      aria-label='{{localize "hm.app.submit"}}' aria-describedby='submit-description' role='button'>
      {{localize 'hm.app.submit'}}
    </button>
    <span id='submit-description' class='sr-only'>{{localize 'hm.app.submit-description'}}</span>

    <button type='submit' data-action='saveOptions' class='hm-app-footer-save'
      data-tooltip='{{localize "hm.app.save-description"}}' aria-label='{{localize "hm.app.save"}}'
      aria-describedby='save-description' role='button'>
      {{localize 'hm.app.save'}}
    </button>
    <span id='save-description' class='sr-only'>{{localize 'hm.app.save-description'}}</span>

    <button type='button' data-action='resetOptions' class='hm-app-footer-reset'
      data-tooltip='{{localize "hm.app.reset-description"}}' aria-label='{{localize "hm.app.reset"}}'
      aria-describedby='reset-description' role='button'>
      {{localize 'hm.app.reset'}}
    </button>
    <span id='reset-description' class='sr-only'>{{localize 'hm.app.reset-description'}}</span>

    <button type='button' data-action='close' class='hm-app-footer-cancel'
      data-tooltip='{{localize "hm.app.cancel-description"}}' aria-label='{{localize "hm.app.cancel"}}'
      aria-describedby='cancel-description' role='button'>
      {{localize 'hm.app.cancel'}}
    </button>
    <span id='cancel-description' class='sr-only'>{{localize 'hm.app.cancel-description'}}</span>
  </div>
</footer>
