<div class='tab cc-creator race {{tabs.race.cssClass}}' data-tab='race' data-group='creator-tabs'>
  <fieldset>
    <legend>{{localize 'cc.creator.race.tooltip'}}</legend>
    <p>
      {{localize 'cc.creator.race.preamble'}}
    </p>
    <hr />
    <div class='cc-creator-div'>
      {{localize 'cc.creator.race.select'}}
      <!-- Race Dropdown -->
      <select id='race-dropdown' class='cc-creator-dropdown race'>
        <option value=''>{{localize 'cc.creator.race.select'}}</option>
        {{#each race}}
          <option value='folder-{{this.folderName}}'>
            {{this.folderName}}
            ({{this.packName}})
          </option>
        {{else}}
          <option>{{localize 'cc.creator.race.none'}}</option>
        {{/each}}
      </select>
    </div>
  </fieldset>
</div>