<div class='tab {{tabs.race.cssClass}}' data-tab='race' data-group='creator-tabs'>
  <fieldset>
    <legend>{{localize 'cc.creator.race.tooltip'}}</legend>
    <p>
      {{localize 'cc.creator.race.preamble'}}
    </p>
    <hr />
    <div class='cc-creator-div'>
      {{localize 'cc.creator.race.select'}}
      <!-- Race Dropdown -->
      <select id='race-dropdown' class='cc-creator-dropdown race'>
        <option value=''>{{localize 'cc.creator.race.select'}}</option>
        {{#each raceDocuments}}
          <option value='{{this.id}}'>
            {{this.itemName}}
            <!-- Display only itemName in the dropdown -->
          </option>
        {{else}}
          <option>{{localize 'cc.creator.race.none'}}</option>
        {{/each}}
      </select>
    </div>

    <!-- Enriched Description Section for the selected race -->
    <div id='race-description' class='cc-creator-description'>
      {{{enrichedDescription}}}
      <!-- Display the enriched description here -->
    </div>
  </fieldset>
</div>