<div id='creator-form' class='cc-form'>
  <!-- Race Dropdown -->
  <div class='cc-dropdown-container'>
    <select id='race-dropdown' class='cc-creator-dropdown race'>
      <option value=''>{{localize 'cc.creator.race.select'}}</option>
      {{#each race}}
        <option value='folder-{{this.folderName}}'>
          {{this.folderName}}
          ({{this.packName}})
        </option>
      {{else}}
        <option>No races available</option>
      {{/each}}
    </select>
    <div class='cc-dropdown-container cc-hidden-dropdown-container' id='race-subcat-dropdown-container'></div>

  </div>
</div>