<nav class='creator-tabs tabs'>
  {{#each tabs as |tab|}}
    <a class='item {{tab.cssClass}}' data-action='tab' data-tab='{{tab.id}}' data-group='{{tab.group}}' data-tooltip='{{localize label}}'>
      <i class='{{tab.icon}}'></i>
      {{localize label}}
    </a>
  {{/each}}
</nav>