<div class='tab {{tabs.welcome.cssClass}}' data-tab='welcome' data-group='creator-tabs'>
  <fieldset>
    <legend>{{localize 'cc.creator.getting-started.tooltip'}}</legend>
    <p>{{localize 'cc.creator.getting-started.preamble.a'}}</p>
    <p>{{localize 'cc.creator.getting-started.preamble.b'}}</p>
    <hr />
    <p>
      {{localize 'cc.creator.getting-started.name'}}:
      <input type='text' data-type='character-name' placeholder='{{localize "cc.creator.getting-started.name-placeholder"}}' />
    </p>
  </fieldset>
</div>