<div class='tab cc-creator getting-started {{tabs.welcome.cssClass}}' data-tab='welcome' data-group='creator-tabs'>
  <fieldset>
    <legend>{{localize 'cc.creator.getting-started.tooltip'}}</legend>
    <p>
      {{localize 'cc.creator.getting-started.preamble.a'}}<br />
      {{localize 'cc.creator.getting-started.preamble.b'}}<br />
    </p>
    <hr />
    <div class="cc-creator-div">
      {{localize 'cc.creator.getting-started.name'}}
      <input type='text' data-type='character-name' placeholder='{{localize "cc.creator.getting-started.name-placeholder"}}' />
    </div>
  </fieldset>
</div>