<div class='tab {{tabs.class.cssClass}}' data-tab='class' data-group='creator-tabs'>
  <fieldset>
    <legend>{{localize 'cc.creator.class.tooltip'}}</legend>
    <p>{{localize 'cc.creator.class.preamble'}}</p>
    <hr />
    <div class='cc-creator-div'>
      {{localize 'cc.creator.class.select'}}
      <!-- Class Dropdown -->
      <select id='class-dropdown' class='cc-creator-dropdown class'>
        <option value=''>{{localize 'cc.creator.class.select'}}</option>
        {{#each classDocuments}}
          <option value='{{this.id}}' data-pack='{{this.packId}}'>
            {{this.name}}
            ({{this.packName}})
          </option>
        {{/each}}
      </select>
      
    </div>
  </fieldset>
</div>