<div class='tab {{tabs.abilities.cssClass}}' data-tab='abilities' data-group='hero-mancer-tabs' data-tooltip='{{localize 'hm.app.abilities.tooltip'}}'>
  <p>This is the Abilities tab!</p>

  <div class="ability-container">
    {{#each abilities}}
      <div id="ability-block-{{@index}}" class="ability-block">
        <!-- Dropdown for selecting the ability (remove name, only use score) -->
        <select name="abilities[{{this.key}}]" class="ability-dropdown" data-dtype="String">
          <option value="">{{localize 'hm.app.abilities.select-placeholder'}}</option>
          {{#each ../abilities}}
            <option value="{{this.key}}">{{this.abbreviation}}</option>
          {{/each}}
        </select>

        <!-- Text field for entering the score -->
        <input type="number" name="abilities[{{this.key}}].score" class="ability-score" data-dtype="Number" placeholder="Enter score" />
        
        <!-- Dice icon for rolling the stat -->
        <i class="fa-solid fa-dice-d6 roll-dice-icon" data-action="rollStat" data-index="{{@index}}"></i>
      </div>
    {{/each}}
  </div>
</div>
