<div class='tab {{tabs.background.cssClass}}' data-tab='background' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.background.tooltip'}}</legend>
    <p>
      {{localize 'hm.app.background.preamble'}}
    </p>
    <hr />

    <div>
      <!-- Label for the background dropdown -->
      <label for='background-dropdown'>{{localize 'hm.app.background.select-label'}}</label>

      <!-- Background Dropdown -->
      <select id='background-dropdown' name='background' data-dtype='String' aria-describedby='background-description' aria-label='{{localize "hm.app.background.select-label"}}'>
        <option value=''>{{localize 'hm.app.background.select-placeholder'}}</option>

        {{#each backgroundDocs}}
          <optgroup label='{{this.packName}}'>
            <!-- Each option for a background -->
            {{#each this.docs}}
              <option value='{{this.id}} ({{this.packId}})'>
                {{this.name}}
              </option>
            {{/each}}
          </optgroup>
        {{else}}
          <option>{{localize 'hm.app.background.none'}}</option>
        {{/each}}
      </select>
    </div>

    <!-- Enriched Description Section -->
    <div id='background-description' role='region' aria-live='polite' aria-atomic='true'>
      {{{enrichedDescription}}}
    </div>
  </fieldset>
</div>