<div class='tab {{tabs.abilities.cssClass}}' data-tab='abilities' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.abilities.tooltip'}}</legend>

    <div class="roll-method-selector flex items-center gap-sm mb-sm">
      <label for="roll-method">{{localize 'hm.app.abilities.select-method'}}:</label>
      <select id="roll-method" class="form-select">
        {{#if allowedMethods.standardArray}}
          <option value="standardArray" {{#if (eq diceRollMethod 'standardArray' )}}selected{{/if}}>
            {{localize 'hm.settings.dice-rolling-method.standard-array'}}
          </option>
        {{/if}}
        {{#if allowedMethods.pointBuy}}
          <option value="pointBuy" {{#if (eq diceRollMethod 'pointBuy' )}}selected{{/if}}>
            {{localize 'hm.settings.dice-rolling-method.point-buy'}}
          </option>
        {{/if}}
        {{#if allowedMethods.manual}}
          <option value="manualFormula" {{#if (eq diceRollMethod 'manualFormula' )}}selected{{/if}}>
            {{localize 'hm.settings.dice-rolling-method.manual-formula'}}
          </option>
        {{/if}}
      </select>
    </div>

    {{#if (eq diceRollMethod 'pointBuy')}}
      <h2>{{localize 'hm.app.abilities.instructions.point-buy.title'}}</h2>
      <p><b>{{localize 'hm.app.abilities.instructions.point-buy.description'}}</b></p>
      <p>{{localize 'hm.app.abilities.instructions.point-buy.preamble'}}</p>
      <hr />

      <div class="remaining-points-container flex flex-col justify-center items-center gap-sm text-center" role="region"
        aria-live="polite" aria-atomic="true">
        <div class="remaining-label font-bold">{{localize 'hm.app.abilities.instructions.point-buy.remaining'}}</div>
        <div class="points-display font-bold">
          <span id="remaining-points">{{remainingPoints}}</span>/<span id="total-points">{{totalPoints}}</span>
        </div>
      </div>

      <div class="ability-container point-buy flex flex-wrap justify-between gap-md">
        {{#each abilities}}
          <div id="ability-block-{{@index}}" class="ability-block point-buy flex flex-col items-center">
            <span class="ability-label font-bold"
              aria-label="{{localize 'hm.app.abilities.label'}}">{{this.fullKey}}</span>

            <div class="control-row flex items-center gap-xs">
              <button type="button" class="adjust-button minus-button flex justify-center items-center"
                data-action="decreaseScore" data-ability-index="{{@index}}"
                aria-label="{{localize "hm.app.abilities.decrease"}}">-</button>

              <span id="ability-score-{{@index}}" class="current-score text-center"
                aria-live="polite">{{this.currentScore}}</span>

              <button type="button" class="adjust-button plus-button flex justify-center items-center"
                data-action="increaseScore" data-ability-index="{{@index}}"
                aria-label="{{localize "hm.app.abilities.increase"}}">+</button>
            </div>

            <input type="hidden" id="ability-{{@index}}-input" name="abilities[{{this.key}}]"
              value="{{this.currentScore}}" data-dtype="Number" />
          </div>
        {{/each}}
      </div>

    {{else if (eq diceRollMethod 'standardArray')}}
      <h2>{{localize 'hm.app.abilities.instructions.standard-array.title'}}</h2>
      <p><b>{{localize 'hm.app.abilities.instructions.standard-array.description'}}</b></p>
      <p>{{localize 'hm.app.abilities.instructions.standard-array.preamble'}}</p>

      <div class='ability-container flex justify-between items-center'>
        {{#each abilities}}
          <div id='ability-block-{{@index}}' class='ability-block flex flex-col items-center gap-xs'>
            <span class='ability-label' aria-label='{{localize "hm.app.abilities.label"}}'>
              {{this.abbreviation}}
            </span>

            <select id='ability-{{@index}}-dropdown' name='abilities[{{this.key}}]'
              class='ability-dropdown form-select text-center' data-dtype='Number'
              aria-label='{{localize "hm.app.abilities.select-value"}}'>
              <option value=''>{{localize 'hm.app.abilities.select-placeholder'}}</option>
              {{#each ../standardArray}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>
          </div>
        {{/each}}
      </div>

    {{else if (eq diceRollMethod 'manualFormula')}}
      <h2>{{localize 'hm.app.abilities.instructions.manual.title'}}</h2>
      <p><b>{{localize 'hm.app.abilities.instructions.manual.description'}}</b></p>
      <p>{{localize 'hm.app.abilities.instructions.manual.preamble'}}</p>

      <div class='ability-container flex justify-between items-center'>
        {{#each abilities}}
          <div id='ability-block-{{@index}}' class='ability-block flex flex-col items-center gap-xs'>
            <label for='ability-{{@index}}-score'>{{localize 'hm.app.abilities.score-label'}}</label>
            <select id='ability-{{@index}}-dropdown' name='abilities[{{this.key}}]'
              class='ability-dropdown form-select text-center' data-dtype='String'
              aria-label='{{localize "hm.app.abilities.tooltip"}}'>
              <option value=''>{{localize 'hm.app.abilities.select-placeholder'}}</option>
              {{#each ../abilities}}
                <option value='{{this.key}}'>{{this.abbreviation}}</option>
              {{/each}}
            </select>

            <input id='ability-{{@index}}-score' type='number'
              name='abilities[{{lookup . (concat "abilities[" this.key "]")}}].score'
              class='ability-score form-input text-center' data-dtype='Number'
              placeholder='{{localize "hm.app.abilities.score-placeholder"}}'
              aria-label='{{localize "hm.app.abilities.score-label"}}' />

            <i class='fa-solid fa-dice-d6 fa-2xl' style='cursor: pointer' data-action='rollStat' data-index='{{@index}}'
              role='button' aria-label='{{localize "hm.app.abilities.roll-dice"}}' tabindex='0'></i>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p>{{localize 'hm.app.abilities.instructions.no-roll-method'}}</p>
    {{/if}}
  </fieldset>
</div>
