{{!-- Class Selection Tab --}}
<div class='tab {{tabs.class.cssClass}}' data-tab='class' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.class.tooltip'}}</legend>
    <p>{{localize 'hm.app.class.preamble'}}</p>
    <hr />

    {{!-- Class Dropdown Selection --}}
    <div class="form-row flex items-center gap-sm mb-sm">
      <label for='class-dropdown'>{{localize 'hm.app.class.select-label'}}</label>
      <select id='class-dropdown' name='class' class="form-select" data-dtype='String'
        aria-describedby='class-description' aria-label='{{localize "hm.app.class.select-label"}}'>
        <option value=''>{{localize 'hm.app.class.select-placeholder'}}</option>

        {{#each classDocs}}
          <option value='{{this.id}} [{{this.uuid}}]'>{{this.name}}</option>
        {{else}}
          <option>{{localize 'hm.app.class.none'}}</option>
        {{/each}}
      </select>
    </div>

    {{!-- Class Description Display --}}
    <div class="journal-container" data-journal-id="{{journalPageId}}"></div>
  </fieldset>
</div>
