<div class='tab {{tabs.start.cssClass}}' data-tab='start' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.start.tooltip'}}</legend>

    <p>{{localize 'hm.app.start.preamble.a'}}</p>
    <p>{{localize 'hm.app.start.preamble.b'}}</p>
    <hr />

    <p>
      <!-- Label for the name input -->
      <label for='character-name'>{{localize 'hm.app.start.name-label'}}</label>
      <input
        id='character-name'
        type='text'
        name='name'
        data-dtype='String'
        data-type='character-name'
        placeholder='{{localize "hm.app.start.name-placeholder"}}'
        aria-label='{{localize "hm.app.start.name-label"}}'
      />
    </p>
  </fieldset>
</div>