<div class="tab {{ tabs.start.cssClass }}" data-tab="start" data-group="hero-mancer-tabs">
  <fieldset>
    <legend>{{localize 'hm.app.start.tooltip'}}</legend>

    <p>{{localize 'hm.app.start.preamble.a'}}</p>
    <p>{{localize 'hm.app.start.preamble.b'}}</p>
    <hr />

    <div class="form-row flex items-center gap-sm mb-sm">
      <label for="character-name" class="label-15">{{localize 'hm.app.start.name-label'}}</label>
      <input id="character-name" type="text" name="name" class="input-35 form-input" data-dtype="String"
        data-type="character-name" placeholder="{{localize 'hm.app.start.name-placeholder'}}"
        aria-label="{{localize 'hm.app.start.name-label'}}" />
    </div>

    <div class="art-selection-row flex items-center gap-sm">
      <label for="character-art-path" class="label-15">{{localize 'hm.app.start.character-art-label'}}</label>
      <input id="character-art-path" type="text" name="character-art" class="art-input input-35 form-input" readonly
        placeholder="{{localize 'hm.app.start.character-art-placeholder'}}" />
      <button data-action="selectCharacterArt" type="button" class="select-button button-7">
        {{localize 'hm.app.start.select-art'}}
      </button>
      <label class="checkbox-label label-43 flex items-center">
        <input type="checkbox" id="link-token-art" checked />
        {{localize 'hm.app.start.token-same-as-character'}}
      </label>
    </div>

    <div class="art-selection-row flex items-center gap-sm" id="token-art-row" style="display: none">
      <label for="token-art-path" class="label-15">{{localize 'hm.app.start.token-art-label'}}</label>
      <input id="token-art-path" type="text" name="token-art" class="art-input input-35 form-input" readonly
        placeholder="{{localize 'hm.app.start.token-art-placeholder'}}" />
      <button data-action="selectTokenArt" type="button" class="select-button button-7">
        {{localize 'hm.app.start.select-art'}}
      </button>
    </div>

    {{#if playerCustomizationEnabled}}
      <hr />
      <div class="customization-row flex items-center gap-sm mb-sm" id="color-row">
        <label for="player-color" class="label-15">{{localize 'hm.app.start.player-color'}}</label>
        <color-picker id="player-color" name="player-color" class="input-35" value="{{randomSafeColor}}" />
      </div>
      <div class="customization-row flex items-center gap-sm mb-sm" id="pronoun-row">
        <label for="player-pronouns" class="label-15">{{localize 'hm.app.start.player-pronouns'}}</label>
        <input type="text" name="player-pronouns" class="input-35 form-input"
          placeholder="{{localize 'hm.app.start.player-pronouns-placeholder'}}" />
      </div>
      <div class="customization-row flex items-center gap-sm mb-sm" id="avatar-row">
        <label for="player-avatar-path" class="label-15">{{localize 'hm.app.start.player-avatar'}}</label>
        <input id="player-avatar-path" type="text" name="player-avatar" class="art-input input-35 form-input" readonly
          placeholder="{{localize 'hm.app.start.player-avatar-placeholder'}}" />
        <button data-action="selectPlayerAvatar" type="button" class="select-button button-7">
          {{localize 'hm.app.start.select-art'}}
        </button>
      </div>
    {{/if}}

    {{#if tokenCustomizationEnabled}}
      <hr />
      <div class="customization-row flex items-center gap-sm mb-sm">
        <label for="displayName" class="label-15">{{localize "TOKEN.CharShowNameplate"}}</label>
        <select name="displayName" class="input-35 form-select">
          <option value="">{{localize "hm.app.start.token-visibility-placeholder"}}</option>
          {{selectOptions token.displayModes selected=object.displayName}}
        </select>
      </div>

      <div class="customization-row flex items-center gap-sm mb-sm">
        <label for="displayBars" class="label-15">{{localize "TOKEN.ResourceDisplay"}}</label>
        <select name="displayBars" class="input-35 form-select">
          <option value="">{{localize "hm.app.start.token-visibility-placeholder"}}</option>
          {{selectOptions token.barModes selected=object.displayBars}}
        </select>
      </div>

      <div class="customization-row flex items-center gap-sm mb-sm">
        <label for="bar1-attribute" class="label-15">{{localize "TOKEN.ResourceBar1A"}}</label>
        <select name="bar1.attribute" class="input-35 form-select">
          {{selectOptions token.barAttributes selected=object.bar1.attribute}}
        </select>
      </div>

      <div class="customization-row flex items-center gap-sm mb-sm">
        <label for="bar2-attribute" class="label-15">{{localize "TOKEN.ResourceBar2A"}}</label>
        <select name="bar2.attribute" class="input-35 form-select">
          {{selectOptions token.barAttributes selected=object.bar2.attribute}}
        </select>
      </div>

      <div class="customization-row flex items-center gap-sm mb-sm">
        <label class="label-15">{{localize "TOKEN.FIELDS.ring.enabled.label"}}</label>
        <div class="checkbox-label label-43 flex items-center">
          <input type="checkbox" name="ring.enabled" {{checked object.ring.enabled}} />
        </div>
      </div>

      <div class="customization-row flex items-center gap-sm mb-sm">
        <label for="ring-color" class="label-15">{{localize "TOKEN.FIELDS.ring.colors.ring.label"}}</label>
        <color-picker id="ring-color" name="ring.color" class="input-35" value="{{randomSafeColor}}" />
      </div>

      <div class="customization-row flex items-center gap-sm mb-sm">
        <label for="background-color" class="label-15">{{localize "DND5E.TokenRings.BackgroundColor"}}</label>
        <color-picker id="background-color" name="backgroundColor" class="input-35"
          value="{{ object.backgroundColor }}" />
      </div>

      <div class="customization-row flex flex-wrap items-center gap-sm mb-sm ring-effects">
        <label class="label-15">{{localize 'TOKEN.FIELDS.ring.effects.label'}}</label>
        {{#each token.ring.effects as |label key|}}
          <div class="checkbox-label label-43 flex items-center">
            <input type='checkbox' name='ring.effects' value='{{key}}'
              {{checked (lookup ../object.ring.effects key)}} />
            {{ label }}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </fieldset>
</div>
