<div class='tab {{tabs.class.cssClass}}' data-tab='class' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.class.tooltip'}}</legend>
    <p>{{localize 'hm.app.class.preamble'}}</p>
    <hr />

    <div>
      <!-- Label for the class dropdown -->
      <label for='class-dropdown'>{{localize 'hm.app.class.select-label'}}</label>

      <!-- Class Dropdown -->
      <select id='class-dropdown' name='class' data-dtype='String' aria-describedby='class-description' aria-label='{{localize "hm.app.class.select-label"}}'>
        <option value=''>{{localize 'hm.app.class.select-placeholder'}}</option>

        {{#each classDocs}}
          <optgroup label='{{this.packName}}'>
            {{#each this.docs}}
              <option value='{{this.id}} ({{this.packId}})'>
                {{this.name}}
              </option>
            {{/each}}
          </optgroup>
        {{else}}
          <option>{{localize 'hm.app.class.none'}}</option>
        {{/each}}
      </select>
    </div>

    <!-- Enriched Description Section for the selected class -->
    <div id='class-description' role='region' aria-live='polite' aria-atomic='true'>
      {{{enrichedDescription}}}
    </div>
  </fieldset>
</div>