{{!-- Background Selection Tab --}}
<div class='tab {{tabs.background.cssClass}}' data-tab='background' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.background.tooltip'}}</legend>
    <p>{{localize 'hm.app.background.preamble'}}</p>
    <hr />

    {{!-- Background Dropdown Selection --}}
    <div class="form-row flex items-center gap-sm mb-sm">
      <label for='background-dropdown'>{{localize 'hm.app.background.select-label'}}</label>
      <select id='background-dropdown' name='background' class="form-select" data-dtype='String'
        aria-describedby='background-description' aria-label='{{localize "hm.app.background.select-label"}}'>
        <option value=''>{{localize 'hm.app.background.select-placeholder'}}</option>

        {{#each backgroundDocs}}
          <option value='{{this.id}} [{{this.uuid}}]'>{{this.name}}</option>
        {{else}}
          <option>{{localize 'hm.app.background.none'}}</option>
        {{/each}}
      </select>
    </div>

    {{!-- Background Description Display --}}
    <div id='background-description' class="overflow-vert-only" role='region' aria-live='polite' aria-atomic='true'>
      <div class="journal-container" data-journal-id="{{journalPageId}}"></div>
    </div>
  </fieldset>
</div>
