<div class='tab {{tabs.start.cssClass}}' data-tab='start' data-group='hero-mancer-tabs'>
  <fieldset>
    <legend>{{localize 'hm.app.start.tooltip'}}</legend>
    <p>{{localize 'hm.app.start.preamble.a'}}</p>
    <p>{{localize 'hm.app.start.preamble.b'}}</p>
    <hr />
    <p>
      {{localize 'hm.app.start.name'}}:
      <input type='text' data-type='character-name' name='name' data-dtype='String' placeholder='{{localize "hm.app.start.name-placeholder"}}' />
    </p>
  </fieldset>
</div>